.header-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: forestgreen;
}
.header-container h1 {
  align-items: center;
  display: flex;
  flex: 1;
  min-width: 0;
}
.header-container .header-nav {
  flex: 0 0 auto;
  justify-content: flex-start;
}
